@using Dominio
@model Empleado


@if(Model == null)
{
    <h1>
        <img height="30" src="/img/warning.webp" />
        Si ves esto, se rompio todo
        <img height="30" src="/img/warning.webp" />
    </h1>
}
else
{
    <h1>Bienvenido @Model.Nombre</h1>

}
